<html>
<head>
  <title>{{ TITLE }}</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <main>
    <img src="stream.mjpg" width="{{ WIDTH }}" height="{{ HEIGHT }}" />
  </main>
</body>
</html>